RewriteEngine On
RewriteBase /Nhom1_PHP/

# Nếu file hoặc thư mục không tồn tại
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Chuyển hướng tất cả request đến index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L] 